<%= form_with model: @form, url: question_evaluations_path, method: :post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h1>診断ページ</h1>

  <%= f.fields_for :question_evaluations do |i| %>
    <div>
      <%= @questions[i.index].text %>
      <br>
      <%= i.radio_button :evaluation, 5 %>
      <%= i.label :evaluation_5, "とてもあてはまる" %>
      <%= i.radio_button :evaluation, 4 %>
      <%= i.label :evaluation_4, "すこしあてはまる" %>
      <%= i.radio_button :evaluation, 3, checked: true %>
      <%= i.label :evaluation_3, "どちらでもない" %>
      <%= i.radio_button :evaluation, 2 %>
      <%= i.label :evaluation_2, "あまりあてはまらない" %>
      <%= i.radio_button :evaluation, 1 %>
      <%= i.label :evaluation_1, "まったくあてはまらない" %>
    </div>
  <% end %>
  <%= f.submit  %>
<% end %>

<%= link_to 'トップへ戻る', root_path%>
