<header class="page-header">
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag 'logo.jpg' %>
  <% end %>
  <%# <h1><a href="index.html"><img src="logo.jpg" class="logo" alt="WCBカフェホーム"></a></h1>%>
  <nav>
    <ul class="main-nav">
      <% if logged_in? %>
        <li><%= current_user.name %></li>
      <% end %>
      <li><%= link_to 'マイページ', my_pages_path %></li>
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    </ul>
  </nav>
</header>
