<div class="container">
<h1>診断結果</h1>
<h2>あなたのおすすめは..</h2>
  <%= @fish_name %>です!<br>

  <%= image_tag @fish_nutrients.first.image_url %>

  <canvas id="myChart" width="400" height="200" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" data-label="<%= @fish_name %>" > </canvas>
</div>
<%# binding.pry %>
<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: JSON.parse(ctx.canvas.dataset.labels),
      datasets: [
        {
          // label: JSON.parse(ctx.canvas.dataset.label),
        backgroundColor: [
                "#BB5179",
                "#FAFF67",
                "#58A27C",
                "#3C00FF"
            ],
        // borderColor: "rgba(0,0,80,1)",
        data: JSON.parse(ctx.canvas.dataset.data)
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: '血液型 割合'
      },
      scale: {
        ticks: {
          suggestedMin: 0,
              suggestedMax: 100,
          }
      }
    }
  });
</script>
