<!DOCTYPE html>
<html>
  <head>
    <title>Sakanarish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%# ress.css %>
    <%# <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"> %>
  </head>

  <body>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'  %>
    <%= javascript_pack_tag 'custom_vue' %>

    <div id='hello'>
      <p>{{ message }}</p>
    </div>
    <div id='hello2'>
      <p>{{ message }}</p>
    </div>

    <% if !logged_in?||current_user.guest? %>
      <%= render 'shared/before_login_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>

    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
